@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@mixin bgFillHover($colorBg) {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 101%;
        height: 100%;
        background: $colorBg;
        mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
        -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
        mask-size: 7100% 100%;
        -webkit-mask-size: 7100% 100%;
        cursor: pointer;
        -webkit-animation: ani2 0.4s steps(70) forwards;
        animation: ani2 0.4s steps(70) forwards;
        z-index: -1;
    }

    &:hover::before {
        -webkit-animation: ani 0.4s steps(70) forwards;
        animation: ani 0.4s steps(70) forwards;
    }

    @content
}


@mixin bgFillHoverAgainst($colorBg) {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 101%;
        height: 100%;
        background: $colorBg;
        mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
        -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
        mask-size: 7100% 100%;
        -webkit-mask-size: 7100% 100%;
        cursor: pointer;
        -webkit-animation: ani 0.4s steps(70) forwards;
        animation: ani 0.4s steps(70) forwards;
        z-index: -1;
    }

    &:hover::before {
        -webkit-animation: ani2 0.4s steps(70) forwards;
        animation: ani2 0.4s steps(70) forwards;
    }

    @content
}

@mixin btn-up(){
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    &:active {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}


@mixin shadow-block($bg-color: var(--color-bg-variant)) {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
    position: relative;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    &:active {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1.25rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: var(--transition);
        background-color: $bg-color;
        z-index: -10;
    }
    
    
    &:hover::after {
        transform: scaleX(1.1) scaleY(1.3);
        opacity: 0;
    }
    
    .btn-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    @content;
}

